= render 'items/header_guide'

%main.mypage-container.clearfix

  .content
    %section.logout__container
      .logout__form
        = link_to "ログアウト", logout_path, method: :delete, class: 'logout__submit'

  = render 'users/mypage/side'
  = render 'items/footer_btn'

= render 'items/footer'