- breadcrumb :mypage
= render 'items/header_guide'
= render 'shared/breadcrumbs'
%main.mypage-container.clearfix
  = render 'users/mypage/content'
  = render 'users/mypage/side'
  = render 'items/footer_btn'

= render 'items/footer'