%main.mypage-container.clearfix

  .content
    %section.registration-card
      %h2.registration-card__head.bold
        クレジットカード情報入力

      = form_with url: root_path, class: 'registration-card__form' do |f|
        .registration-card__form__content

          .registration-card__form__content__number
            = f.label "カード番号", class: "bold"
            %span.form-require 必須
            = f.text_field :card_number, {placeholder: "半角数字のみ", maxlength: "19"}
            %ul.card-images
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg', height: '20', width: '49', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg', height: '20', width: '34', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg', height: '20', width: '30', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg', height: '20', width: '32', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg', height: '20', width: '21', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg', height: '20', width: '32', class: 'card-images__image'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg', height: '20', width: '32', class: 'card-images__image'

          .registration-card__form__content__limit
            = f.label "有効期限", class: "bold"
            %span.form-require 必須
            %br
            .select.half
              = f.select :card_limit_m, [["01", "01"], ["02", "02"]]
              %i.icon-arrow-bottom
              %span 月
            .select.half
              = f.select :card_limit_y, [["19", "19"], ["20", "20"]]
              %i.icon-arrow-bottom
              %span 年

          .registration-card__form__content__securitycode
            = f.label "セキュリテイコード", class: "bold"
            %span.form-require 必須
            = f.text_field :card_securitycode, {placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"}
            .what-is-securitycode
              %span ?
              カード裏面の番号とは？

          = f.button "追加する", class: 'registration-card__form__content__submit'

  = render 'users/mypage/side'