.recommended
  .main
    .main__box
      .main__slideshow
        .main__slideshow__frame
          %ul.main__slideshow__list
            %li.main__slideshow__list__slide
              = link_to root_path do
                .active
        .main__slideshow__left
          .main__slideshow__left__box

        .main__slideshow__right
          .main__slideshow__right__box

        .main__slideshow__button
          .main__slideshow__button__box
            %span
            %span
            %span

  .main__category
    %h2 人気のカテゴリー
    .main__category__Heading
      %ul.main__category__Heading__list
        %li
          = link_to "レディース",'#1'
        %li
          = link_to "メンズ",'#2'
        %li
          = link_to "ベビー・キッズ",'#3'
        %li
          = link_to "インテリア・住まい・小物",'#4'

  .main__product
    - @categories.limit(4).each do |category| 
      .main__product__contener
        .main__product__contener__name{id: category.id}
          %h3=category.name
          = link_to "もっと見る ", root_path, class:"more_see"

        .main__collection
          .main__collection__box
            - Item.category_items(category.indirects.ids).limit(10).each do |item| 
              .main__collection__box__parts
                = link_to item_path(item.id),nil do
                  %figure
                    %figcaption
                      %span
                        = item.name if item.name.present?
                    .main__collection__box__parts__img
                      %span
                        ¥
                        = item.price if item.price.present?
                      = image_tag(item.item_images[0].image.url) if item.item_images.present?