.banner
  .banner__contents
    .banner__content
      .banner__content--text="スマホでかんたんフリマアプリ"
      .banner__content--text="今すぐ無料ダウンロード！"
      .banner__content-iconbox
        = image_tag 'mercari_icon.png', class: "banner__content-app--mercari-icon"
        = link_to "#", class: "banner--link" do
          = image_tag 'app-store.svg', class: "banner__content-app--app-icon"
        = link_to "#", class: "banner--link" do
          = image_tag 'google-play.svg', class: "banner__content-app--google-icon"
    .banner__content
      = image_tag 'download_content_pc.png', class: "banner__content--icon"

%footer.footer

  .footer__info

    .footer__about-mercari.footer__info--top
      %h2.footer__about-mercari__title.footer__info--title="メルカリについて"
      %ul.footer__about-mercari__contents
        %li.footer__about-mercari__content.footer__info--list
          = link_to "会社概要（運営会社）", '#', class: "footer__info--link"
        %li.footer__about-mercari__content.footer__info--list
          = link_to "採用情報", '#', class: "footer__info--link"
        %li.footer__about-mercari__content.footer__info--list
          = link_to "プレスリリース", '#', class: "footer__info--link"
        %li.footer__about-mercari__content.footer__info--list
          = link_to "公式ブログ", '#', class: "footer__info--link"
        %li.footer__about-mercari__content.footer__info--list
          = link_to "メルカリロゴ利用ガイドライン", '#', class: "footer__info--link"
        = link_to "#", class: "footer__about-mercari__content-iconbox footer__about-mercari__content-iconbox--left footer__info--link" do
          = fa_icon 'twitter', class: "footer__about-mercari__content--icon"
        = link_to "#", class: "footer__about-mercari__content-iconbox footer__about-mercari__content-iconbox--right footer__info--link" do
          = fa_icon 'facebook-square', class: "footer__about-mercari__content--icon"

    .footer__help.footer__info--top
      %h2.footer__help__title.footer__info--title="ヘルプ＆ガイド"
      %ul.footer__help__contents
        %li.footer__help__content.footer__info--list
          = link_to "メルカリガイド", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "らくらくメルカリ便", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "ゆうゆうメルカリ便", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "大型メルカリ便", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "車体取引ガイド", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "メルカリあんしん・あんぜん宣言！", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "偽ブランド品撲滅への取り組み", '#', class: "footer__help__content footer__info--link"
        %li.footer__help__content.footer__info--list
          = link_to "メルカリボックス", '#', class: "footer__help__content footer__info--link"

    .footer__privacy.footer__info--top
      %h2.footer__privacy__title.footer__info--title="プライバシーと利用規約"

      .footer__privacy__contents-box
        %ul.footer__privacy__contents
          %li.footer__privacy__content.footer__info--list
            = link_to "プライバシーポリシー", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "メルカリ利用規約", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "あんしんスマホサポート制度に関する利用特約", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "コンプライアンスポリシー", '#', class: "footer__privacy__content footer__info--link"

      .footer__privacy__contents-box
        %ul.footer__privacy__contents
          %li.footer__privacy__content.footer__info--list
            = link_to "個人データの安全管理に係る基本方針", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "特定商取引に関する表記", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "資金決済法に基づく表示", '#', class: "footer__privacy__content footer__info--link"
          %li.footer__privacy__content.footer__info--list
            = link_to "法令順守と犯罪抑止のために", '#', class: "footer__privacy__content footer__info--link"

    .footer__country.footer__info--top
      %h2.footer__country__title.footer__info--title="国"
      %ul.footer__country__contents
        %li.footer__country__contents.footer__info--list
          = link_to "日本", '#', class: "footer__country__contents footer__info--link"
        %li.footer__country__contents.footer__info--list
          = link_to "United States", '#', class: "footer__country__contents footer__info--link"

  .footer__copyright
    = link_to root_path, class: "footer__copyright__link" do
      = image_tag 'logo-white.svg', class: "footer__copyright__image"
    %span.footer__copyright__text="© 2019 freemarket_sample_53a"