%footer.logo-footer
  %nav
    %ul
      %li
        = link_to root_path do
          プライバシーポリシー
      %li
        = link_to root_path do
          メルカリ利用規約
      %li
        = link_to root_path do
          特定商取引に関する表記

  = link_to root_path, class: "logo-footer__logo" do
    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg', alt: 'mercari', height: '65', width: '80'

  %p
    %small &copy; 2019 Mercari