= render 'items/header_guide'
.detail-item
  = render partial: 'items/detail-item-top', locals: { item: @item }

  .detail-item__description
    .detail-item__description__inner<>
      = @item.description

.detail-item__message-box
  .detail-item__messages
    = link_to '商品の編集', edit_item_path(@item), class: 'detail-item__edit'
    %p.text-center or
    = link_to '出品を一旦停止する', "#", method: :delete, class: 'detail-item__delete'
    = link_to 'この商品を削除する', item_path(@item), method: :delete, class: 'detail-item__delete'

.detail-item__message-box
  = render 'items/detail-item-messagebox'


= render 'items/footer'