.editpage
  = render 'items/logo-header'
  = render 'items/logo-footer'


  %main.editmain
    %section.editmain__page
      #edit_list
        %div{"data-reactroot":  ""}
          .editmain__page__box
            %h2.editmain__page__box__top 商品の情報を入力

            = form_with model: @item, local: true, class: "editmain__page__box__form" do |f|

              .editmain__page__box__form__upload
                %h3.editmain__page__box__form__upload__haed
                  / react-text: 7
                  出品画像
                  / /react-text
                  %span.require_sheet 必須
                %p 最大10枚までアップロードできます
                .editmain__page__box__form__upload__first
                  .editmain__page__box__form__upload__first__phone
                    .editmain__page__box__form__upload__first__phone__items
                      %ul.editmain__page__box__form__upload__first__phone__items__ul

                  .overflow-auto
                    %ul.editmain__page__box__form__upload__first__ul
                      -# jqueryで自動的に生成する内容
                      -# %li.editmain__page__box__form__upload__first__ul__li
                      -#   %figure.editmain__page__box__form__upload__first__ul__li__image
                      -#     = image_tag @item.item_images[0].image.url, size: "116*116"
                      -#   .editmain__page__box__form__upload__first__ul__li__button
                      -#     = link_to '編集', '#', class: "editmain__page__box__form__upload__first__ul__li__button__edit"
                      -#     = link_to '削除', '#', class: "editmain__page__box__form__upload__first__ul__li__button__delete"
                    = f.fields_for :item_images, class: "editmain__page__box__form__upload__first__pc" do |img|
                      -# ↓一旦labelで指定 のちにjsでdiv状態でtype fileしよう可能変更
                      = img.label :image, class: "editmain__page__box__form__upload__first__pc new_image", style: "width: 620px;" do
                        = img.file_field :image, class: "editmain__page__box__form__upload__first__pc__print"

                        %pre.editmain__page__box__form__upload__first__pc__text
                          :preserve
                            ドラッグアンドドロップ
                            またはクリックしてファイルをアップロード
                        %i.icon-camera
                = render 'layouts/error/item_images'

              .editmain__page__box__form__content
                .editmain__page__box__form__content__group
                  = f.label :name, "商品名"
                  %span.require_sheet 必須
                  %div
                    = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "input-box"
                  = render 'layouts/error/name'

                .editmain__page__box__form__content__group
                  = f.label :description, "商品の説明"
                  %span.require_sheet 必須
                  = f.text_area :description, class: "textarea-box", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
                  = render 'layouts/error/description'

              .editmain__page__box__form__content.clearfix
                %h3.editmain__page__box__form__content__sub 商品の詳細
                .editmain__page__box__form__content__box
                  .editmain__page__box__form__content__box__details
                    = f.label :category_id, "カテゴリー"
                    %span.require_sheet 必須
                    %div
                      .select-block
                        %i.icon-arrow-bottom
                        = f.collection_select :category_id, Category.all.order("id ASC").limit(13), :id, :name, { prompt: "---"}, {class: "select-block__choice"}
                        -# %option 以下レディースやメンズなどの選択view
                    = render 'layouts/error/ecategory'

                  .editmain__page__box__form__content__box__details
                    = f.label :size , {class: 'form-label'} do
                      サイズ
                      %span.require_sheet 必須
                    %div
                      .select-block
                        %i.icon-arrow-bottom
                        = f.collection_select :size_id, Size.all, :id, :size ,{ prompt: "---"}, {class: "select-block__choice"}
                        = render 'layouts/error/esize'

                  .editmain__page__box__form__content__box__details
                    = f.label :condition, "商品の状態"
                    %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      = f.select :condition, Item.conditions_i18n.invert, {include_blank: "---", selected: "---"}, class: "select-block__choice", placeholder: 0
                      -# %option　以下　状態のview
                    = render 'layouts/error/condition'

              .editmain__page__box__form__content.clearfix
                %h3.editmain__page__box__form__content__sub 配送について
                =link_to  root_path ,target:"_blank", class:"question-mark" do
                  ?
                .editmain__page__box__form__content__box
                  .editmain__page__box__form__content__box__details
                    = f.label :payer_delivery_expense, "発送料の負担"
                    %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      = f.select :payer_delivery_expense, payer_delivery_expense_explanation(Item.payer_delivery_expenses_i18n.invert), {include_blank: "---", selected: "---"}, class: "select-block__choice", selected: @item.payer_delivery_expense
                    = render 'layouts/error/payer_delivery_expense'
                  .editmain__page__box__form__content__box__details
                    = f.label :prefecture_id, "発送元の地域"
                    %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---", selected: "---"}, class: "select-block__choice", placeholder: 0
                    = render 'layouts/error/eprefecture'
                  .editmain__page__box__form__content__box__details
                    = f.label :delivery_days, "発送までの日数"
                    %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      = f.select :delivery_days, Item.delivery_days_i18n.invert, {include_blank: "---", selected: "---"}, class: "select-block__choice", placeholder: 0
                    = render 'layouts/error/delivery_days'

              .editmain__page__box__form__content.clearfix
                %h3.editmain__page__box__form__content__sub 販売価格(300〜9,999,999)
                =link_to  root_path ,target:"_blank", class:"question-mark" do
                  ?
                .editmain__page__box__form__content__box
                  %ul.edit-money
                    %li.edit-money__group
                      .edit-money__group__box
                        .edit-left
                          = f.label :price, "価格"
                          %span.require_sheet 必須
                        .edit-right
                          ¥
                          %div
                            = f.text_field :price, placeholder: "例）300", class: "input-fee", maxlength: "7"
                      = render 'layouts/error/price'
                    %li.edit-money__fee
                      .edit-money__fee__left
                        販売手数料(10%)
                      .edit-money__fee__right
                        &ndash;
                    %li.edit-money__profit
                      販売利益
                      .edit-money__profit__left
                      .edit-money__profit__right
                        &ndash;

              .editmain__page__box__form__content.clearfix
                = f.submit "出品する", class: "edit-first-btn"
                =link_to "キャンセル", :back , class: 'back-gray-btn'
            .editlay


