.sellpage
  = render 'items/logo-header'
  = render 'items/logo-footer'


  %main.sellmain
    %section.sellmain__page
      #sell_list
        %div{"data-reactroot": ""}
          .sellmain__page__box
            %h2.sellmain__page__box__top 
              商品の情報を入力
            = form_with model: @item ,url: items_path, local: true do |f|
              .sellmain__page__box__form
                .sellmain__page__box__form__upload
                  %h3.sellmain__page__box__form__upload__haed
                    / react-text: 7
                    出品画像
                    %span.require_sheet
                      必須
                    / /react-text
                  %p
                    最大10枚までアップロードできます
                  .sellmain__page__box__form__upload__first
                    .sellmain__page__box__form__upload__first__phone
                      .sellmain__page__box__form__upload__first__phone__items
                        %ul
                        %label{class:"sellmain__page__box__form__upload__first__pc have-item-#{@item}"}
                          .sellmain__page__box__form__upload__first__pc__print.have-item-0
                            = f.fields_for :item_images ,ItemImage.new do |item_image|
                              = item_image.file_field :image ,id: "file",style: "display: none;"
                            -# - 5.times do
                            -#   =f.fields_for :item_images, ItemImage.new, multiple: true do |image|
                            -# = f.file_field :image ,multiple: true
                          %pre.sellmain__page__box__form__upload__first__pc__text
                            :preserve
                              ドラッグアンドドロップ
                              またはクリックしてファイルをアップロード
                          %i.icon-camera
                    -# - if item.errors.any?
                    -#   %ul.item_sell_error
                    -#     画像がありません

                .sellmain__page__box__form__content
                  .sellmain__page__box__form__content__group
                    = f.label :name ,{class: 'form-label'} do
                      商品名
                      %span.require_sheet
                        必須
                    %div
                      = f.text_field :name , placeholder: "商品名(必須 40文字まで)", class: "input-box", value: ""
                  .sellmain__page__box__form__content__group
                    %label
                      商品の説明
                      %span.require_sheet
                        必須
                    = f.text_area :description, placeholder: "商品の説明(必須 1,000文字いない) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5" ,class: "textarea-box"

                .sellmain__page__box__form__content.clearfix
                  %h3.sellmain__page__box__form__content__sub 商品の詳細
                  .sellmain__page__box__form__content__box
                    .sellmain__page__box__form__content__box__details
                      = f.label :category , {class: 'form-label'} do
                        カテゴリー
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.collection_select :category_id, Category.all, :id, :name ,{ prompt: "---"}, {class: "select-block__choice"}
                    -# 服装などを選択した際にのみ以下サイズは表示されますが
                    -# 表示方法はJSを使用してが本来ですが
                    -# 実装段階でsize_idが引数内に設定していない場合
                    -# DBに保存されないという状態だったので、一旦こちらに初期段階でsizeが入力できる状態にしています
                    .sellmain__page__box__form__content__box__details
                      = f.label :size , {class: 'form-label'} do
                        サイズ
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.collection_select :size_id, Size.all, :id, :size ,{ prompt: "---"}, {class: "select-block__choice"}
                    .sellmain__page__box__form__content__box__details
                      = f.label :condition , {class: 'form-label'} do
                        商品の状態
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.select :condition, Item.conditions.keys.map {|k| [I18n.t("enums.item.condition.#{k}"), k]},{include_blank: "---", selected: "---"},{class: "select-block__choice"}

                .sellmain__page__box__form__content.clearfix
                  %h3.sellmain__page__box__form__content__sub 配送について
                  = link_to  root_path ,target:'_blank', class:"question-mark" do
                    ?
                  .sellmain__page__box__form__content__box
                    .sellmain__page__box__form__content__box__details
                      = f.label :payer_delivery_expense , {class: 'form-label'} do
                        発送料の負担
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.select :payer_delivery_expense, Item.payer_delivery_expenses.keys.map {|k| [I18n.t("enums.item.payer_delivery_expense.#{k}"), k]}, {include_blank: "---", selected: "---"},{class: "select-block__choice"}

                  
                    -# .sellmain__page__box__form__content__box__details
                    -#   = f.label :shipping_method , {class: 'form-label'} do
                    -#     発送の方法
                    -#     %span.require_sheet 必須
                    -#   %div
                    -#     .select-block
                    -#       %i.icon-arrow-bottom
                    -#       = f.select :shipping_method, Item.shipping_methods.keys.map {|k| [I18n.t("enums.shipping_method.#{k}"), k]}, {include_blank: "---", selected: "---"},{class: "select-block__choice"}
                      発送方法のみenumは起動するのですが、記述されているものがうまく表示されない


                    .sellmain__page__box__form__content__box__details
                      = f.label :prefecture , {class: 'form-label'} do
                        発送元の地域
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.collection_select :prefecture_id, Prefecture.all, :id, :name ,{prompt: "---"}, {class: "select-block__choice"}
                    .sellmain__page__box__form__content__box__details
                      = f.label :delivery_days ,{class: 'form-label'} do
                        発送までの日数
                        %span.require_sheet 必須
                      %div
                        .select-block
                          %i.icon-arrow-bottom
                          = f.select :delivery_days, Item.delivery_days.keys.map {|k| [I18n.t("enums.item.delivery_days.#{k}"), k]},{include_blank: "---", selected: "---"},{class: "select-block__choice"}

                .sellmain__page__box__form__content.clearfix
                  %h3.sellmain__page__box__form__content__sub 販売価格(300〜9,999,999)
                  = link_to root_path , target:'_blank' , class:'question-mark' do
                    ?
                  .sellmain__page__box__form__content__box
                    %ul.sell-money
                      %li.sell-money__group
                        .sell-money__group__box
                          = f.label :price, { class: 'form-label' } do
                            価格
                            %span.require_sheet 必須
                          .sell-right
                            ¥
                            %div
                              = f.text_field :price, placeholder: '例)300', class: 'input-fee'
                      %li.sell-money__fee
                        .fee_left
                          販売手数料(10%)
                        .fee_right 
                          -
                      %li.sell-money__profit
                        .fee_left
                          販売利益
                        .fee_right 
                          -
                -# 商品出品が確定した時のFlash画面
                -# .sell_complete{role: "dialog", tabindex: "-1"}
                -#   .model-card
                -#     %div
                -#       %h3.model-head 出品が完了しました
                -#       .sell-modal-body{"data-gtm-vis-first-on-screen-6824027_198" => "1051328", "data-gtm-vis-has-fired-6824027_198" => "1", "data-gtm-vis-recent-on-screen-6824027_198" => "1051328", "data-gtm-vis-total-visible-time-6824027_198" => "100"}
                -#         あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
                -#         =link_to root_path ,class:"next_sell-btn" do
                -#           続けて出品する
                -#         -# 下のlink先はマイページの商品詳細画面
                -#         %p.text-center
                -#           =link_to root_path do
                -#             商品ページへ行ってシェアする



                .sellmain__page__box__form__content.clearfix
                  %div
                    %p
                      = link_to root_path, target: '_blank' do
                        禁止されている出品
                      、
                      = link_to root_path, target: '_blank' do
                        行為
                      を必ずご確認ください。
                    %p
                      またブランド品でシリアルナンバー等がある場合はご記載ください。
                      = link_to root_path, target: '_blank' do
                        偽ブランドの発売
                      は犯罪であり処罰される可能性があります。
                    %p
                      また、出品をもちまして
                      = link_to root_path do
                        加盟店規約
                      に同意したことになります。
                    = f.submit "出品する" ,class: 'sell-first-btn'
                    = link_to 'もどる', :back, class: 'back-gray-btn'