= render 'items/header_guide'

.detail-item
  = render partial: 'items/detail-item-top', locals: { item: @item }

  - if @item.seller?(current_user)
    = link_to '出品した商品です', "javascript:void(0)", class: 'detail-item__buy detail-item__buy--not-allowed'
  - elsif @item.trading?
    = link_to '取引中です', "javascript:void(0)", class: 'detail-item__buy detail-item__buy--not-allowed'
  - elsif @item.task.include?('complete')
    = link_to '売り切れました', "javascript:void(0)", class: 'detail-item__buy detail-item__buy--not-allowed'
  - elsif @item.task.include?('stopping')
    = link_to '出品停止中です', "javascript:void(0)", class: 'detail-item__buy detail-item__buy--not-allowed'
  - else
    = link_to '購入画面に進む', new_item_trade_path(@item), class: 'detail-item__buy'

  .detail-item__description
    .detail-item__description__inner<>
      = @item.description

  .detail-item__links
    .detail-item__links--left

      - if @item.seller?(current_user)
        = link_to "javascript:void(0)", { class: "detail-item__links__btn--like detail-item__links__btn not-allowed"} do
          %i.icon-like.fa
          %span="いいね!"
          %span=@item.item_likes.count

      - else

        - if @item.liked_by?(current_user)
          = link_to item_likes_path(@item), { class: "detail-item__links__btn--like detail-item__links__btn active", method: :delete, remote: true } do
            %i.icon-like.fa
            %span="いいね!"
            %span=@item.item_likes.count

        - else
          = link_to item_likes_path(@item), { class: "detail-item__links__btn--like detail-item__links__btn", method: :post, remote: true } do
            %i.icon-like.fa
            %span="いいね!"
            %span=@item.item_likes.count

      = link_to item_path, data: {open: "modal"}, class: "detail-item__links__btn detail-item__links__btn--report" do
        %i.icon-flag
        %span="不適切な商品の報告"

    .detail-item__links--right
      = link_to item_path, target: :_blank do
        %i.icon-lock
        %span="あんしん・あんぜんへの取り組み"


.detail-item__message-box
  = render 'items/detail-item-messagebox'

%ul.detail-item__nav
  %li.detail-item__nav--prev
    = direction_item('prev', @item)
  %li.detail-item__nav--next
    = direction_item('next', @item)


.detail-item__sns
  .detail-item__sns--facebook
    = facebook_link

  .detail-item__sns--twitter
    = twitter_link(@item)

  .detail-item__sns--pinterest
    = pinterest_link(@item)


.detail-item__other-items
  .detail-item__other-items--users
    %h2.detail-item__other-items--title
      = link_to "#{@item.user.nickname}さんのその他の出品", user_path(@item.user)

    .detail-item__other-items__contents
      - @item.user_other_items.limit(6).each do |item|
        .detail-item__other-items__content
          = link_to item_path(item), nil do
            - if item.task.include?('complete')
              = render 'shared/soldout'
            %figure.detail-item__other-items__content--figure
              - if item.item_images.present?
                = image_tag item.item_images.first.image.url, class: "lazyloaded"
              - else 
                = image_tag('/not_found.png')
            .detail-item__other-items__content__box
              %h3.detail-item__other-items__content__box--title.font-2=item.name
              .detail-item__other-items__content__box--footer
                .detail-item__other-items__content__box--price.font-5="¥#{item.delimited_price}"
                .detail-item__other-items__content__box--like.font-2
                  %i.icon-like
                  %span=item.item_likes.count

  .detail-item__other-items--brand-category
    %h2.detail-item__other-items--title
      = link_to "#{@item.category.name} (#{@item.category.root.name}) その他の出品", category_path(@item.category)

    .detail-item__other-items__contents
      - @item.category_other_items.limit(6).each do |item|
        .detail-item__other-items__content
          = link_to item_path(item), nil do
            - if item.task.include?('complete')
              = render 'shared/soldout'
            %figure.detail-item__other-items__content--figure
              - if item.item_images.present?
                = image_tag item.item_images.first.image.url, class: "lazyloaded"
              - else
                = image_tag('/not_found.png')
            .detail-item__other-items__content__box
              %h3.detail-item__other-items__content__box--title.font-2=item.name
              .detail-item__other-items__content__box--footer
                .detail-item__other-items__content__box--price.font-5="¥#{item.delimited_price}"
                .detail-item__other-items__content__box--like.font-2
                  %i.icon-like
                  %span=item.item_likes.count


.detail-item__bread-crumbs
  %ul
    %li
      = link_to 'メルカリ', root_path
      %i.icon-arrow-right
    %li
      %span.detail-item__bread-crumbs--title=@item.name

= render 'items/footer'