.registration-form__content__form-group
  = f.label :password, "パスワード"
  %span.registration-form__content__form-group__form-require 必須
  %br/
  = f.password_field :password, autocomplete: "new-password", class: "registration-form__content__form-group__input #{has_error(@user.errors[:password])}", placeholder: "7文字以上"
  = render "shared/input_errors", errors: @user.errors[:password]
.registration-form__content__form-group
  = f.label :password_confirmation, "パスワード(確認)"
  %span.registration-form__content__form-group__form-require 必須
  %br/
  = f.password_field :password_confirmation, autocomplete: "new-password", class: "registration-form__content__form-group__input #{has_error(@user.errors[:password_confirmation])}", placeholder: "7文字以上"
  = render "shared/input_errors", errors: @user.errors[:password_confirmation]