.registration
  %header.registration__header
    %h1
      %a{href: "#", class: "registration__header-logo"}= image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "185px",height: "49px"
  %main.registration__main
    %section.registration__main__section
      %h2.registration__main__section__head 会員情報入力
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "registration-form"}) do |f|
        .registration-form__content
          .registration-form__content__form-group.registration-form__content__form-group-first
            = f.label :nickname, "ニックネーム"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :nickname, autocomplete: "nickname", class: "registration-form__content__form-group__input registration-form__content__form-group__input--nickname", placeholder: "例) メルカリ太郎"
            = render "errors", errors: resource.errors[:nickname]
          .registration-form__content__form-group
            = f.label :email, "メールアドレス"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.email_field :email, autocomplete: "email", class: "registration-form__content__form-group__input registration-form__content__form-group__input--email", placeholder: "PC・携帯どちらでも可"
            = render "errors", errors: resource.errors[:email]
          .registration-form__content__form-group
            = f.label :password, "パスワード"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.password_field :password, autocomplete: "new-password", class: "registration-form__content__form-group__input registration-form__content__form-group__input--password", placeholder: "7文字以上"
            = render "errors", errors: resource.errors[:password]
          .registration-form__content__form-group
            = f.label :password_confirmation, "パスワード(確認)"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "registration-form__content__form-group__input registration-form__content__form-group__input--password_confirmation", placeholder: "7文字以上"
            = render "errors", errors: resource.errors[:password_confirmation]
          .registration-form__content__form-group
            %h3.registration-form__content__form-group__sub-head 本人確認
            %p.registration-form__content__form-group__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .registration-form__content__form-group
            %label お名前(全角)
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :last_name, autocomplete: "last_name", class: "registration-form__content__form-group__input registration-form__content__form-group__input--last_name half", placeholder: "例) 山田"
            = f.text_field :first_name, autocomplete: "first_name", class: "registration-form__content__form-group__input registration-form__content__form-group__input--first_name half", placeholder: "例) 彩"
            = render "errors", errors: resource.errors[:last_name]
            = render "errors", errors: resource.errors[:first_name]
          .registration-form__content__form-group
            %label お名前カナ(全角)
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "registration-form__content__form-group__input registration-form__content__form-group__input--last_name_kana half", placeholder: "例) ヤマダ"
            = f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "registration-form__content__form-group__input registration-form__content__form-group__input--first_name_kana half", placeholder: "例) アヤ"
            = render "errors", errors: resource.errors[:last_name_kana]
            = render "errors", errors: resource.errors[:first_name_kana]
          .registration-form__content__form-group
            = f.label :birth_date, "生年月日"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.hidden_field :birth_date, value: ""
            .registration-form__content__form-group__birthday-select
              .registration-form__content__form-group__birthday-select-wrap
                %i.icon-arrow-bottom.icon-arrow-bottom-year
                = select_tag :year, options_for_select(years), prompt: "--", class: "registration-form__content__form-group__birthday-select-wrap__select"
              %span 年
              .registration-form__content__form-group__birthday-select-wrap
                %i.icon-arrow-bottom.icon-arrow-bottom-month
                = select_tag :month, options_for_select(months), prompt: "--", class: "registration-form__content__form-group__birthday-select-wrap__select"
              %span 月
              .registration-form__content__form-group__birthday-select-wrap
                %i.icon-arrow-bottom.icon-arrow-bottom-day
                = select_tag :day, options_for_select([["--",""]]), class: "registration-form__content__form-group__birthday-select-wrap__select"
              %span 日
            .clearfix
              = render "errors", errors: resource.errors[:birth_date]
          %p.registration-form__content__info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .registration-form__content
          .registration-form__content__form-group
            %p.registration-form__content__form-group__text.registration-form__content__form-group__text-center
              「次へ進む」のボタンを押すことにより、
              %a{:href => "#"}> 利用規約
              に同意したものとみなします
          = f.submit "次へ進む", class: "registration-form__content__btn"
  %footer.registration__footer
    %a{href: "#", class: "registration__footer-logo"}= image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763", width: "80",height: "65"
    %p
      %small © 2019 Mercari
