<div class="single-container">
  <header class="single-header">
    <main class="l-single-container">
      <section class="l-single-container">
        <h2 class="l-single-head registration">会員情報入力</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %><span class="form-require">必須</span><br />
            <%= f.email_field :email, autocomplete: "email", class: "input-default" %>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %><span class="form-require">必須</span><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "input-default" %>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード(確認)" %><span class="form-require">必須</span><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-default" %>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="form-group">
            <h3 class="text-left l-chapter-sub-head">本人確認</h3>
            <p class="l-single-text">
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            </p>
          </div>

          <div class="form-group">
            <label>お名前(全角)</label><span class="form-require">必須</span><br />
            <%= f.text_field :last_name, autocomplete: "last_name", class: "input-default half" %>
            <%= f.text_field :first_name, autocomplete: "first_name", class: "input-default half" %>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="form-group">
            <label>お名前カナ(全角)</label><span class="form-require">必須</span><br />
            <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "input-default half" %>
            <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "input-default half" %>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="form-group">
            <%= f.label :birth_date, "生年月日" %><span class="form-require">必須</span><br />
            <div class="birthday-select-wrap">
              <div class="select-wrap">
                <i class="icon-arrow-bottom"></i>
                <select name="year" class="select-default"></select>
              </div>
              <span>年</span>
            </div>
            <div class="birthday-select-wrap">
              <div class="select-wrap">
                <i class="icon-arrow-bottom"></i>
                <select name="year" class="select-default"></select>
              </div>
              <span>年</span>
            </div>
            <div class="select-wrap select-wrap__day">
              <div class="select-wrap">
                <i class="icon-arrow-bottom"></i>
                <select name="year" class="select-default"></select>
              </div>
              <span>年</span>
            </div>
            <ul class="has-error-text">
              <li>error</li>
            </ul>
          </div>

          <div class="actions">
            <%= f.submit "次へ進む" %>
          </div>
        <% end %>
      </section>
    </main>
  </header>
</div>






<h2>Sign up</h2>

<%= render "users/shared/links" %>
