.registration
  = render "registration_header", status: "会員情報"
  %main.registration__main
    %section.registration__main__section
      %h2.registration__main__section__head 会員情報入力
      = form_with model: @user, url: sign_up_path, id: 'new_user', class: 'registration-form', local: true do |f|
        .registration-form__content
          .registration-form__content__form-group.registration-form__content__form-group-first
            = f.label :nickname, "ニックネーム"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :nickname, autocomplete: "nickname", class: "registration-form__content__form-group__input #{has_error(@user.errors[:nickname])}", placeholder: "例）メルカリ太郎"
            = render "shared/user_errors", errors: @user.errors[:nickname]
          .registration-form__content__form-group
            = f.label :email, "メールアドレス"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.email_field :email, autocomplete: "email", class: "registration-form__content__form-group__input #{has_error(@user.errors[:email])}", placeholder: "PC・携帯どちらでも可"
            = render "shared/user_errors", errors: @user.errors[:email]
          = render "password_form", f: f unless @sns
          .registration-form__content__form-group
            %h3.registration-form__content__form-group__sub-head 本人確認
            %p.registration-form__content__form-group__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .registration-form__content__form-group
            %label お名前(全角)
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :last_name, autocomplete: "last_name", class: "registration-form__content__form-group__input registration-form__content__form-group__input--last_name half #{has_error(@user.errors[:last_name])}", placeholder: "例）山田"
            = f.text_field :first_name, autocomplete: "first_name", class: "registration-form__content__form-group__input half #{has_error(@user.errors[:first_name])}", placeholder: "例）彩"
            = render "shared/user_errors", errors: @user.errors[:last_name]
            = render "shared/user_errors", errors: @user.errors[:first_name]
          .registration-form__content__form-group
            %label お名前カナ(全角)
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "registration-form__content__form-group__input registration-form__content__form-group__input--last_name_kana half #{has_error(@user.errors[:last_name_kana])}", placeholder: "例）ヤマダ"
            = f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "registration-form__content__form-group__input half #{has_error(@user.errors[:first_name_kana])}", placeholder: "例）アヤ"
            = render "shared/user_errors", errors: @user.errors[:last_name_kana]
            = render "shared/user_errors", errors: @user.errors[:first_name_kana]
          .registration-form__content__form-group
            = f.label :birth_date, "生年月日"
            %span.registration-form__content__form-group__form-require 必須
            %br/
            = f.hidden_field :birth_date, value: ""
            .registration-form__content__form-group__birthday-select
              .registration-form__content__form-group__birthday-select-wrap
                = fa_icon "chevron-down", class: "fa-chevron-down-year"
                = select_tag :year, options_for_select(years), prompt: "--", class: "registration-form__content__form-group__birthday-select-wrap__select #{has_error(@user.errors[:birth_date])}"
              %span 年
              .registration-form__content__form-group__birthday-select-wrap
                = fa_icon "chevron-down", class: "fa-chevron-down-month"
                = select_tag :month, options_for_select(months), prompt: "--", class: "registration-form__content__form-group__birthday-select-wrap__select #{has_error(@user.errors[:birth_date])}"
              %span 月
              .registration-form__content__form-group__birthday-select-wrap
                = fa_icon "chevron-down", class: "fa-chevron-down-day"
                = select_tag :day, options_for_select([["--",""]]), class: "registration-form__content__form-group__birthday-select-wrap__select #{has_error(@user.errors[:birth_date])}"
              %span 日
            .clearfix
              = render "shared/user_errors", errors: @user.errors[:birth_date]
          %p.registration-form__content__info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .registration-form__content
          .registration-form__content__form-group
          = f.submit "次へ進む", class: "registration-form__content__btn"
  = render "shared/reg_and_session_footer", current_page: nil
