.registration
  %header.registration__header
    %h1.registration__header--top-h1
      = link_to root_path, class: "registration__header--logo" do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "185px",height: "49px"
  %main.registration__main
    %section.registration__main__section
      %h2.registration__main__section__head 新規会員登録
      .registration-form.registration-form--top
        .registration-form__content
          = link_to root_path, class: "registration-form__content__btn registration-form__content__btn--mail" do
            = fa_icon "envelope"
            メールアドレスで登録する
          - if Rails.env.development?
            = link_to user_facebook_omniauth_authorize_path, method: :post, class: "registration-form__content__btn registration-form__content__btn--facebook" do
              = fa_icon "facebook-square"
              Facebookで登録する
            = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "registration-form__content__btn registration-form__content__btn--google" do
              = image_tag '/google-logo.png', width: "26px", height: "26px", class: "registration-form__content__btn--google--logo"
              Googleで登録する
          - else
            = link_to root_path, method: :post, class: "registration-form__content__btn registration-form__content__btn--facebook" do
              = fa_icon "facebook-square"
              Facebookで登録する
            = link_to root_path, method: :post, class: "registration-form__content__btn registration-form__content__btn--google" do
              = image_tag '/google-logo.png', width: "26px", height: "26px", class: "registration-form__content__btn--google--logo"
              Googleで登録する
  = render "registration_footer", current_page: "top"